<!DOCTYPE html>
<html>
<head>
  <title>StarChess Online</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.firebase.com/js/client/2.3.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=157204547802342";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">StarChess Online!</a>
        <span class="navbar-text" id="byline">a <a href="http://zap.sexy">crumble</a> production</span>
        <% if current_user %>
          <span class="navbar-text">Logged in as: <%= current_user.email %></span>
          <span class="navbar-text" id="logoutlink"><%= link_to "Log out", destroy_user_session_path %></span>
        <% else %>
          <span class="navbar-text"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></span>
          <span class="navbar-text">OR</span>
          <span class="navbar-text"><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></span>
        <% end %>

      </div>
    </div>
  </nav>

  <div class="container">

    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <%= yield %> 
  </div>
</body>
</html>
