<!DOCTYPE html>
<html>
<head>
  <title>Strollz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user %>
Logged in as: <%= current_user.email %><br/>
<%= link_to "Log out", destroy_user_session_path %>
<% else %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<br/>
<%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %>

<% end %>
<%= yield %> 

</body>
</html>
